<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>

<head>
	<meta charset="utf-8">
	<title>타임리프 사용하기2</title>
</head>

<body>
    
	<h2>조건분기</h2>
	
	<!--  타임리프 :: if문 사용해보기 -->
	
	<!-- Score 60이상이면 Success 문구 발생 -->
	<div th:if="${score} >= 60" th:text="Success">
		성공
	</div>
	
		<!-- Score 60이하면 Fail 문구 발생 -->
	<div th:if="${score} <= 60" th:text="Fail">
		성공
	</div>
	
	
	
	<!--  타임리프 :: Switch문 사용해보기 -->
	<div th:switch="${score} / 10">
		<span th:case="10" th:text="수">등급</span>
		<span th:case="9" th:text="우">등급</span>
		<span th:case="8" th:text="미">등급</span>
		<span th:case="7" th:text="양">등급</span>
		<span th:case="6" th:text="가">등급</span>
		<!-- default :: 기본 설정 -->
		<span th:case="*" th:text="가">등급</span>
	</div>
	
	<!--  타임리프 내장 객체 사용해보기  -->
	<div th:with="x=5000000 , y=3434343.345544">
	
	<!-- Number 객체 -->
	<!-- 변수 y를 3자리 단위로 끊어서 ',' 를 찍고 마지막 2자리앞에는 '.' 을 찍어라 -->
		<span th:text="${#numbers.formatDecimal(y ,3 , 'COMMA', 2 , 'POINT')}"></span>
	</div> 
	
	
	<!-- Date 객체 -->
	<div th:with="today=${#dates.createNow()}">
		<span th:text="${#dates.format(today , 'yyyy년 MM월 dd일')}"></span>
	</div>
	
	<div th:text="${param.name}"></div>
</body>



</html>