<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ezen.springmvc.domain.member.mapper.MemberMapper">

	<!-- 전체 회원 목록 검색 -->
	<select id="findByAll" resultType="Member">
		SELECT id, name, email
		FROM
		member
	</select>

	<!-- 회원id 로 특정 회원 검색 -->
	<select id="findById" parameterType="string" resultType="Member">
		SELECT
		id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE id = #{value}
	</select>

	<!-- 로그인 :: 아이디와 비밀번호로 검증 -->
	<select id="findByIdAndPasswd" parameterType="string" resultType="Member">
		SELECT
		id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS') regdate
		FROM member
		WHERE id = #{id} AND passwd = #{passwd}
	</select>
	<!-- 이름으로 특정 회원 검색 -->
	<select id="findByNameLike" parameterType="string"
		resultType="Member">
		SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD
		HH24:MI:SS') regdate
		FROM member
		WHERE name LIKE '%' || #{value} || '%'
	</select>

	<!-- 회원가입 -->
	<insert id="create" parameterType="Member">
		INSERT INTO member(id, passwd,
		name, email)
		VALUES(#{id}, #{passwd}, #{name}, #{email})
	</insert>

	<!-- 회원 정보 수정 -->
	<update id="update" parameterType="Member">
		UPDATE member
		SET passwd =
		#{passwd}
		WHERE id = #{id}
	</update>

	<!-- 동적 SQL 활용 -->
	<select id="findBySearchType" parameterType="string"
		resultType="Member">
		SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS')
		regdate
		FROM member
		<where>
			<if test="type != null and type == 'id'">
				and id = #{value}
			</if>
			<if test="type != null and type == 'name'">
				and name LIKE '%' || #{value} || '%'
			</if>
		</where>
	</select>

	<!-- 검색값으로 통합 검색 -->
	<select id="findBySearchAll" parameterType="string"
		resultType="Member">
		SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD
		HH24:MI:SS') regdate
		FROM member
		WHERE id = #{value} OR name LIKE '%' ||
		#{value} || '%'
	</select>


	<!-- 체크한 옵션들로 필터링검색 -->
	<select id="findBySearchAllOption"
		parameterType="MemberSearchCondition" resultType="Member">
		SELECT id, name, email, TO_CHAR(regdate, 'yyyy-MM-DD HH24:MI:SS')
		regdate
		FROM member
		<where>
			<if test="Id != null and memberId != ''">
				or id = #{memberId}
			</if>
			<if test="name != null and name != '' ">
				or name LIKE '%' || #{name} || '%'
			</if>
			<if test="email ! null and email ! ='' ">
				or email = #{email}
			</if>
		</where>

	</select>
</mapper>