<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                          "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- Database properties 설정 파일 -->
	<properties resource="db-config.properties" />

	<!-- MyBatis에서 사용할 자바빈(JavaBean) 별칭 등록 -->
	<typeAliases>
		<typeAlias type="com.ezen.mybatis.domain.employee.dto.Employee" alias="Employee" />
	</typeAliases>

	<!-- 다수의 Database에 접근하거나 개발, 테스트, 운영 환경에 맞는 다중 환경 설정 지원 -->
	<environments default="development">
		<environment id="development">
			<!-- 트랜잭션 관리 방법 설정
			  - JDBC : JDBC API의 commit(), rollback() 메소드를 이용하여 MyBatis 자체에서 트랜잭션 관리 
			  - MANAGED : WAS(WebLogic, WebSphere, JBoss 등)에서 지원하는 트랜잭션 관리 이용 -->
			<transactionManager type="JDBC" />
			
			<!-- DataSource 설정 : MyBatis는 DataSource 구현체(DBCP)를 이용하여 DB 연결 -->
			<!-- connection pooling -->
			<dataSource type="POOLED"> 
			<!-- db-config.properties 파일안에서 선언된 값들을 불러옴 -->
			<!-- driver 이름 설정 -->
				<property name="driver" value="${database.driver}" />
			<!-- url 이름 설정 -->
				<property name="url" value="${database.url}" />
			<!-- database 아이디 설정 -->
				<property name="username" value="${database.username}" />
			<!-- database 비밀번호 설정 -->
				<property name="password" value="${database.password}" />
				<property name="poolMaximumActiveConnections" value="10" />
				<property name="poolMaximumIdleConnections" value="5" />
				<property name="poolMaximumCheckoutTime" value="10000" />
			</dataSource>
		</environment>
		
		<!-- 개발서버와 실제 운영서버 분리 -->
		
		<!-- 
		<environment id="product">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
			</dataSource>
		</environment>
		 -->
		
	</environments>

	<!-- SQL XML Mapper 파일 설정 -->
	<mappers>
		<!-- 자바 클래스패스에 위치한 XML 매퍼 파일 설정 -->
		<mapper resource="com/ezen/mybatis/domain/employee/mapper/EmployeeMapper.xml" />
		<!-- Annotation 기반 Mapper 인퍼페이스 경로 설정 -->
		 <mapper class="com.ezen.mybatis.domain.employee.mapper.EmployeeMapper2" />
		 
		 <!-- member 클래스 XML 매퍼 파일 설정 -->
		 <!-- 8월 8일 추가함 -->
		<mapper resource="com/ezen/mybatis/domain/member/mapper/MemberMapper.xml" />
		
	</mappers>

</configuration>