<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: content})}"> 
	
	<title th:fragment="title">:: 게시글 목록 ::</title>
	
	<div class="container-fluid" th:fragment="content">
        <h2 class="mt-4">자유게시판 목록
          <span>
            <a href="#">
              <button type="button" class="btn btn-success">게시글 쓰기</button>
            </a>
          </span>
        </h2>

        <hr>

        <form action="#" method="get" id="searchForm">
          <div class="input-group">
            <input type="hidden" name="page" value="1">
            <div class="input-group-prepend">
              <select class="custom-select" name="type">
                <option selected>----- 검색유형 -----</option>
                <option>제목</option>
                <option>내용</option>
                <option>작성자</option>
                <option>제목 + 내용</option>
                <option>제목 + 내용 + 작성자</option>
              </select>
            </div>
            <input type="search" class="form-control" name="value">
            <div class="input-group-append" id="button-addon4">
              <button class="btn btn-success btn-search" type="button">검색</button>
            </div>
          </div>
        </form>

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">번호</th>
              <th scope="col">제목</th>
              <th scope="col">작성자</th>
              <th scope="col">조회수</th>
              <th scope="col">등록일자</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>게시글 제목입니다.</td>
              <td>홍길동</td>
              <td>5</td>
              <td>2023-05-05</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>게시글 제목입니다.</td>
              <td>홍길동</td>
              <td>5</td>
              <td>2023-05-05</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>게시글 제목입니다.</td>
              <td>홍길동</td>
              <td>5</td>
              <td>2023-05-05</td>
            </tr>
            <tr>
              <th scope="row">4</th>
              <td>게시글 제목입니다.</td>
              <td>홍길동</td>
              <td>5</td>
              <td>2023-05-05</td>
            </tr>
            <tr>
              <th scope="row">5</th>
              <td>게시글 제목입니다.</td>
              <td>홍길동</td>
              <td>5</td>
              <td>2023-05-05</td>
            </tr>
          </tbody>

        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">

          <li class="page-item"><a class="page-link">처음으로</a></li>
          <li class="page-item"><a class="page-link">이전목록</a></li>

          <li class="page-item active"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item"><a class="page-link" href="#">4</a></li>
          <li class="page-item"><a class="page-link" href="#">5</a></li>

          <li class="page-item"><a class="page-link">다음목록</a></li>
          <li class="page-item"><a class="page-link">끝으로</a></li>
        </ul>
      </div>

</th:block>

</html>









