<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/layoutV1 :: setContent(~{this :: title}, ~{this :: content})}">

	<title th:fragment="title">:: 홈페이지 방문을 환영합니다 ::</title>

	<div class="container-fluid" th:fragment="content">
		
		<h1 class="mt-4">Spring + Mybatis + Thymeleaf 기반 게시판 실습 홈페이지입니다.</h1>
		<br>		
		<p>The starting state of the menu will appear collapsed on smaller
			screens, and will appear non-collapsed on larger screens. When
			toggled using the button below, the menu will change.</p>
		<p>
			Make sure to keep all page content within the
			<code>#page-content-wrapper</code>
			. The top navbar is optional, and just for demonstration. Just create
			an element with the
			<code>#menu-toggle</code>
			ID which will toggle the menu when clicked.
		</p>
	</div>

</th:block>

</html>









